:root {
    --p: 50;
    --t: 40%;
    --h: calc(100vh - 50px);
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    /*background: black;*/
}

.scroll {
    box-sizing: border-box;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: flex;
    overflow: hidden;
    position: absolute;
    /*transform-origin: left bottom;*/
    transform: translate(calc(var(--p) * 1vw), 50vh) translate(-50%, -50%) rotate(-90deg);
    user-select: none;
    width: var(--h);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    /*width: 200px;*/
}

input[type=range],
label {
    -webkit-appearance: none;
    background: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    width: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline: 0;
    box-sizing: border-box;
    border: 0 solid;
    width: var(--t);
}

input[type=range]::-moz-range-thumb {
    border: 0 solid;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    width: var(--t);
}

input[type=range]::-moz-focus-outer {
    border: 0;
}



/*Windows 3.0///////////////////////////////////////////////////////////////////////////////////////////*/
.w3.scroll label {

    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2' fill='silver'%3E%3Crect width='1' height='1' /%3E%3Crect x='1' y='1' width='1' height='1' /%3E%3C/svg%3E") 100% 0;
    box-shadow: inset 0 0 0 1px black;
    margin: 0 -1px 0 -1px;
    position: relative;
    z-index: 3
}

.w3.scroll input {
    position: absolute;
    width: 100%;
    height: 17px
}

.w3.scroll input::-webkit-slider-thumb {
    background: url(src/w3.png);
    height: 17px;
    width: 17px
}

.w3.scroll input::-moz-range-thumb {
    background: url(src/w3.png);
    height: 17px;
    width: 17px
}


.w3.scroll .s::-webkit-slider-thumb {
    background: 0;
}

.w3.scroll .s::-moz-range-thumb {
    background: 0;
}

.w3.scroll .s::-webkit-slider-thumb:active {
    background: url(src/w3_.svg) fixed 100% 1px, url(src/w3_.svg) 100% 1px;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='17px' height='17px' viewBox='0 0 17 17'%3E%3Cpath d='M0,0v17h17V0H0z M16,16H1V1h15V16z'/%3E%3C/svg%3E%0A")
}

.w3.scroll .s::-moz-range-thumb:active {
    background: url(src/w3_.svg) fixed 100% 1px, url(src/w3_.svg) 100% 1px;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='17px' height='17px' viewBox='0 0 17 17'%3E%3Cpath d='M0,0v17h17V0H0z M16,16H1V1h15V16z'/%3E%3C/svg%3E%0A")
}

.w3.scroll .b {
    background: url(src/w3.png) no-repeat 5px -33px, url(src/w3.png);
    height: 17px;
    position: relative;
    width: 17px;
    z-index: 1
}

.w3.scroll .b.up {
    background-position-x: -6px, 0
}

.w3.scroll .b:active {
    background-position: 4px -32px, 0 -16px
}

.w3.scroll .b.up:active {
    background-position-x: -7px, 0
}

/*Windows 95/////////////////////////////////////////////////////////////////////////////////////////////////*/



.w95.scroll input {
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2' fill='silver' %3E%3Crect width='1' height='1' /%3E%3Crect x='1' y='1' width='1' height='1' /%3E%3C/svg%3E") 100%;
    position: relative
}

.w95.scroll input::-webkit-slider-thumb {
    background: silver;
    box-shadow:
        inset 1px -1px 0 0 black,
        inset 0 0 0 1px silver,
        inset 2px -2px 0 0 gray,
        inset 0 0 0 2px white;
    height: 16px;
    min-width: 8px
}

.w95.scroll input::-moz-range-thumb {
    background: silver;
    box-shadow:
        inset 1px -1px 0 0 black,
        inset 0 0 0 1px silver,
        inset 2px -2px 0 0 gray,
        inset 0 0 0 2px white;
    height: 16px;
    min-width: 8px
}

.w95.scroll .b {
    background: silver url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolygon points='9,4 10,4 10,11 9,11 9,10 8,10 8,9 7,9 7,8 6,8 6,7 7,7 7,6 8,6 8,5 9,5'/%3E%3C/svg%3E") center center no-repeat;
    box-shadow:
        inset 1px -1px 0 0 black,
        inset 0 0 0 1px silver,
        inset 2px -2px 0 0 gray,
        inset 0 0 0 2px white;
    height: 16px;
    position: relative;
    width: 16px;
    z-index: 2
}

.w95.scroll .b.up {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolygon points='7,11 6,11 6,4 7,4 7,5 8,5 8,6 9,6 9,7 10,7 10,8 9,8 9,9 8,9 8,10 7,10'/%3E%3C/svg%3E")
}

.w95.scroll .b:active {
    background-position: calc(50% - 1px) calc(50% + 1px);
    box-shadow:
        inset 0 0 0 1px gray
}

/*Windows XP Luna Blue Theme/////////////////////////////////////////////////////////////////////////////////////////////////*/

.xp.scroll input {
    background: url(src/xp.svg)
}

.xp.scroll input::-webkit-slider-thumb {
    background:
        url(src/xp.svg) repeat-y 100% -118px,
        url(src/xp.svg) repeat-y 0 -169px,
        url(src/xp.svg) repeat-y 50% -220px,
        url(src/xp.svg) 0 -16px;
    height: 17px;
    min-width: 7px
}

.xp.scroll input::-moz-range-thumb {
    background:
        url(src/xp.svg) repeat-y 100% -118px,
        url(src/xp.svg) repeat-y 0 -169px,
        url(src/xp.svg) repeat-y 50% -220px,
        url(src/xp.svg) 0 -16px;
    height: 17px;
    min-width: 7px
}

.xp.scroll input::-webkit-slider-thumb:hover {
    background-position-y: -135px, -186px, -232px, -33px
}

.xp.scroll input::-moz-range-thumb:hover {
    background-position-y: -135px, -186px, -232px, -33px
}

.xp.scroll input::-webkit-slider-thumb:active {
    background-position-y: -152px, -203px, -244px, -50px
}

.xp.scroll input::-moz-range-thumb:active {
    background-position-y: -152px, -203px, -244px, -50px
}

.xp.scroll div {
    background: url(src/xp.svg) no-repeat -6px -257px, url(src/xp.svg) 0 -67px;
    height: 17px;
    width: 17px
}

.xp.scroll div.up {
    background-position-x: 6px, 0
}

.xp.scroll div:hover {
    background-position-y: -257px, -84px
}

.xp.scroll div:active {
    background-position-y: -257px, -101px
}


/*Windows XP Luna Silver theme//////////////////////////////////////////////////////////////////////////////*/

.xps.scroll input {
    background: url(src/xps.svg)
}

.xps.scroll input::-webkit-slider-thumb {
    background:
        url(src/xps.svg) repeat-y 100% -119px,
        url(src/xps.svg) repeat-y 0 -170px,
        url(src/xps.svg) repeat-y 50% -221px,
        url(src/xps.svg) 0 -17px;
    height: 17px;
    min-width: 7px
}

.xps.scroll input::-moz-range-thumb {
    background:
        url(src/xps.svg) repeat-y 100% -119px,
        url(src/xps.svg) repeat-y 0 -170px,
        url(src/xps.svg) repeat-y 50% -221px,
        url(src/xps.svg) 0 -17px;
    height: 17px;
    min-width: 7px
}

.xps.scroll input::-webkit-slider-thumb:hover {
    background-position-y: -136px, -187px, -233px, -34px
}

.xps.scroll input::-moz-range-thumb:hover {
    background-position-y: -136px, -187px, -233px, -34px
}

.xps.scroll input::-webkit-slider-thumb:active {
    background-position-y: -153px, -204px, -245px, -51px
}

.xps.scroll input::-moz-range-thumb:active {
    background-position-y: -153px, -204px, -245px, -51px
}

.xps.scroll div {
    background: url(src/xps.svg) no-repeat -6px -258px, url(src/xps.svg) 0 -68px;
    height: 17px;
    width: 17px
}

.xps.scroll div.up {
    background-position-x: 6px, 0
}

.xps.scroll div:hover {
    background-position-y: -258px, -85px
}

.xps.scroll div:active {
    background-position-y: -271px, -102px
}


/*Windows Vista////////////////////////////////////////////////////////////////////////////////////////////*/
.vista.scroll {
    background: url(src/vista.svg) 0 -67px;
    padding: 0 1px 0 1px
}

.vista.scroll input {
    position: relative;
    z-index: 1
}

.vista.scroll input::-webkit-slider-thumb {
    background:
        url(src/vista.svg) repeat-y 0 -33px,
        url(src/vista.svg) repeat-y right -16px,
        url(src/vista.svg) repeat-y center -50px,
        url(src/vista.svg) repeat-x 0 1px,
        url(src/vista_.svg) no-repeat 0 1px;
    height: 17px;
    transition: 0.4s background-image
}

.vista.scroll input::-moz-range-thumb {
    background:
        url(src/vista.svg) repeat-y 0 -33px,
        url(src/vista.svg) repeat-y right -16px,
        url(src/vista.svg) repeat-y center -50px,
        url(src/vista.svg) repeat-x 0 1px,
        url(src/vista_.svg) no-repeat 0 1px;
    height: 17px;
    transition: 2s background-image
}

.vista.scroll input::-webkit-slider-thumb:hover,
.vista.scroll input::-webkit-slider-thumb:active {
    background-image:
        url(src/vista_.svg),
        url(src/vista_.svg),
        url(src/vista_.svg),
        url(src/vista_.svg),
        url(src/vista.svg)
}

.vista.scroll input::-webkit-slider-thumb:active {
    background-position-y: -100px, -83px, -117px, -66px, 1px;
    transition: none
}

.vista.scroll input::-moz-range-thumb:active {
    background-position-y: -100px, -83px, -117px, -66px, 1px;
    transition: none
}

.vista.scroll input::-moz-range-thumb:hover,
.vista.scroll input::-moz-range-thumb:active {
    background-image:
        url(src/vista_.svg),
        url(src/vista_.svg),
        url(src/vista_.svg),
        url(src/vista_.svg),
        url(src/vista.svg)
}

.vista.scroll div {
    background: url(src/vista.svg) no-repeat -8px -166px, url(src/vista_.svg) no-repeat 17px 0;
    height: 17px;
    position: relative;
    transition: 0.4s background-image, 0.4s opacity;
    width: 16px
}

.vista.scroll div::after {
    background: inherit;
    background-position: 0 -133px, 17px 0;
    content: '';
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    pointer-events: none;
    transition: inherit;
    z-index: -1
}

.vista.scroll div.up {
    background-position-x: 6px, 17px
}

.vista.scroll div:hover,
.vista.scroll div:active {
    background-image: url(src/vista_.svg), url(src/vista.svg)
}

.vista.scroll:active div::after,
.vista.scroll:hover div::after {
    opacity: 1
}

.vista.scroll div:active {
    background-position-y: -179px, 0;
    transition: none
}

.vista.scroll div:active::after {
    background-position-y: -149px, 0
}




/*Windows 10///////////////////////////////////////////////////////////////////////////////////////////////////*/

.w10.scroll {
    background: #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid white;
    height: 17px;
}

.w10.scroll input {
    height: 100%
}

.w10.scroll input::-webkit-slider-thumb {
    background: #CDCDCD;
    height: 15px;
    transition: 1s background
}

.w10.scroll input::-moz-range-thumb {
    background: #CDCDCD;
    height: 15px;
    transition: 1s background
}

.w10.scroll input::-webkit-slider-thumb:hover {
    background: #A6A6A6;
    transition-duration: 0.5s
}

.w10.scroll input::-moz-range-thumb:hover {
    background: #A6A6A6;
    transition-duration: 0.5s
}

.w10.scroll input::-webkit-slider-thumb:active {
    background: #A6A6A6;
    box-shadow: inset 0 15px #606060
}

.w10.scroll input::-moz-range-thumb:active {
    background: #A6A6A6;
    box-shadow: inset 0 15px #606060
}

.w10.scroll div {
    background: none;
    height: 100%;
    position: relative;
    transition: 1s background;
    width: 17px
}

.w10.scroll div:hover:active {
    background: #CDCDCD;
    box-shadow: inset 0 15px #606060
}

.w10.scroll div:hover:not(:active) {
    background: #CDCDCD;
    transition-duration: 0.5s
}

.w10.scroll div::after {
    background: #606060;
    content: "";
    height: 100%;
    left: 0;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='optimizeSpeed' x='0px' y='0px' width='17px' height='15px' viewBox='0 0 17 15'%3E%3Cpolygon points='5.8,7.5 9.2,4 12.2,4 8.8,7.5 12.2,11 9.2,11 '/%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='optimizeSpeed' x='0px' y='0px' width='17px' height='15px' viewBox='0 0 17 15'%3E%3Cpolygon points='5.8,7.5 9.2,4 12.2,4 8.8,7.5 12.2,11 9.2,11 '/%3E%3C/svg%3E")
}

.w10.scroll div.up::after {
    transform: rotate(180deg)
}

.w10.scroll div:hover:active::after {
    background: white
}


/*NextStep//////////////////////////////////////////////////////////////////////////////////////////////*/
.ns.scroll>* {
    margin: 0 0 0 1px
}

.ns.scroll {
    background: #AAAAAA;
    padding: 1px 1px 1px 0
}

.ns.scroll input {
    /*svg cuz safari blurs tiled images: */
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2' fill='%23555555'%3E%3Crect width='1' height='1' /%3E%3Crect x='1' y='1' width='1' height='1' /%3E%3C/svg%3E") repeat
}

.ns.scroll input::-webkit-slider-thumb {
    background: #AAAAAA url(src/ns.png) no-repeat center -19px;
    box-shadow:
        inset 1px -1px black,
        inset -1px 1px white,
        inset 2px -2px #555555;
    height: 16px;
    min-width: 16px
}

.ns.scroll input::-moz-range-thumb {
    background: #AAAAAA url(src/ns.png) no-repeat center -19px;
    box-shadow:
        inset 1px -1px black,
        inset -1px 1px white,
        inset 2px -2px #555555;
    height: 16px;
    min-width: 16px
}

.ns.scroll div {
    background: #AAAAAA url(src/ns.png) no-repeat 4px 3px;
    box-shadow:
        inset 1px -1px black,
        inset -1px 1px white,
        inset 2px -2px #555555;
    width: 16px;
    height: 16px
}

.ns.scroll div.up {
    background-position-y: -8px
}

.ns.scroll div:active {
    background-color: white;
    box-shadow:
        inset 1px -1px #555555,
        inset -1px 1px white,
        inset 2px -2px #AAAAAA,
        inset 0 0 0 8px rgba(255, 255, 255, 0.335)
}

/*Mac OS 7/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.mac7.scroll label {
    background: #DDDDDD;
    box-shadow:
        inset 0 1px black,
        inset 0 -1px black;
    position: relative
}

.mac7.scroll input {
    height: 14px;
    position: absolute;
    top: 1px;
    width: 100%
}

.mac7.scroll input:not(.s) {
    pointer-events: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4' fill='%23777777'%3E%3Crect y='2' width='1' height='1'/%3E%3Crect x='1' width='1' height='1'/%3E%3Crect y='2' x='2' width='1' height='1'/%3E%3Crect x='3' width='1' height='1'/%3E%3C/svg%3E") right
}

.mac7.scroll input::-webkit-slider-thumb {
    height: 14px;
    width: 16px
}

.mac7.scroll input:not(.s)::-webkit-slider-thumb {
    background: #AAAAAA url(src/mac7.svg) 50% 4px;
    box-shadow:
        inset -1px 0 #555555,
        inset 1px -1px #333366,
        inset -2px 1px #CCCCFF;
    height: 14px;
    width: 16px
}

.mac7.scroll .s::-webkit-slider-thumb:active {
    border: 1px solid black
}

.mac7.scroll input::-moz-range-thumb {
    height: 14px;
    width: 16px
}

.mac7.scroll input:not(.s)::-moz-range-thumb {
    background: #AAAAAA url(src/mac7.svg) 50% 4px;
    box-shadow:
        inset -1px 0 #555555,
        inset 1px -1px #333366,
        inset -2px 1px #CCCCFF;
    height: 14px;
    width: 16px
}

.mac7.scroll .s::-moz-range-thumb:active {
    border: 1px solid black
}

.mac7.scroll div {
    background: #DDDDDD url(src/mac7.svg) no-repeat 3px 2px;
    box-shadow: inset 0 0 0 1px black,
        inset 2px -2px #777777,
        inset -2px 2px #FFFFFF;
    height: 16px;
    position: relative;
    width: 16px;
    z-index: 2
}

.mac7.scroll div.up {
    background-position-x: -23px
}

.mac7.scroll div:active {
    background-position-y: -10px
}


/*Mac OS 9/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.mac9.scroll input {
    background: #aaaaaa;
    box-shadow:
        inset 0 0 0 1px black,
        inset 0 -2px #CCCCCC,
        inset -2px 2px #777777,
        inset 0 -3px #BBBBBB,
        inset -3px 3px #888888
}

.mac9.scroll input::-webkit-slider-thumb {
    background:
        url(src/mac9.svg) no-repeat center -8px,
        url(src/mac9.svg) repeat-y -14px -98px,
        url(src/mac9.svg) repeat-y right -83px,
        url(src/mac9.svg) 0 -23px;
    box-shadow:
        -3px -0px 0 -2px #777777,
        -5px -0px 0 -3px #888888;
    height: 16px;
    min-width: 16px
}

.mac9.scroll input::-webkit-slider-thumb:active {
    background-position-y: 4px, -128px, -113px, -38px
}

.mac9.scroll input::-moz-range-thumb {
    background:
        url(src/mac9.svg) no-repeat center -8px,
        url(src/mac9.svg) repeat-y -14px -98px,
        url(src/mac9.svg) repeat-y right -83px,
        url(src/mac9.svg) 0 -23px;
    box-shadow:
        -3px -0px 0 -2px #777777,
        -5px -0px 0 -3px #888888;
    height: 16px;
    min-width: 16px
}

.mac9.scroll input::-moz-range-thumb:active {
    background-position-y: 4px, -128px, -113px, -38px;
}

.mac9.scroll div {
    background: url(src/mac9.svg) no-repeat 1px -98px, url(src/mac9.svg) 0px -53px;
    height: 16px;
    width: 16px;
    z-index: 3
}

.mac9.scroll div.up {
    background-position-y: -128px, -53px;
    margin: 0 -1px 0 -1px
}

.mac9.scroll div:active {
    background-position-y: -98px, -68px
}

.mac9.scroll div.up:active {
    background-position-y: -128px, -68px
}





/*Mac OS X 10.0 Cheetah/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mac10.scroll {
    background: url(src/mac10.svg) repeat-y 0 -15px, url(src/mac10.svg) repeat-y 100% -30px, url(src/mac10.svg)
}

.mac10.scroll input {
    flex: 1 0 auto;
    padding: 0 10px 0 10px;
    z-index: 2
}

.mac10.scroll input::-webkit-slider-thumb {
    background: url(src/mac10.svg) fixed repeat-x 0 -75px, url(src/mac10.svg) repeat-x 0 -60px;
    border-image: url(src/mac10b.png) 0 10;
    padding: 0 -10px 0 -10px;
    border-image-outset: 0 10px 0 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    height: 15px;
    /*z-index cuz safari dont render border when button clicked*/
    position: relative;
    z-index: 3
}

.mac10.scroll input::-moz-range-thumb {
    background: url(src/mac10.svg) fixed repeat-x 0 -75px, url(src/mac10.svg) repeat-x 0 -60px;
    border-image: url(src/mac10b.png) 0 10;
    padding: 0 -10px 0 -10px;
    border-image-outset: 0 10px 0 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    height: 15px;
    /*z-index cuz safari dont render border when button clicked*/
    position: relative;
    z-index: 3
}

.mac10.scroll div {
    background: url(src/mac10.svg) no-repeat -24px 45px;
    height: 15px;
    margin: 0 -9px 0 0;
    padding: 0 9px 0 0;
    position: relative;
    width: 15px;
    z-index: 1
}

.mac10.scroll div.up {
    background-position-x: 0;
    margin: 0 0 0 -9px;
    padding: 0 0 0 9px
}

.mac10.scroll div:active {
    background-position-y: -45px;
    z-index: 1
}

/*Mac OS X 10.0 Yosemite*/


.osx10.scroll {
    height: 16px
}

.osx10.scroll input {
    background: rgba(250, 250, 250, 0.75);
    box-shadow: inset 0 2px 1px -2px rgba(0, 0, 0, 0.28), inset 0 -1px 1px -2px black;
    padding: 0 2px 0 2px
}

.osx10.scroll input::-webkit-slider-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 22px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
    height: 11px;
    opacity: 0;
    transition: opacity 0.1s 0.25s
}

.osx10.scroll input::-moz-range-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 22px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
    height: 11px;
    opacity: 0;
    transition: opacity 0.2s 0.25s
}

.osx10.scroll:hover input::-webkit-slider-thumb,
.osx10.scroll:active input::-webkit-slider-thumb {
    opacity: 1;
    transition-delay: 0s
}

.osx10.scroll:hover input::-moz-range-thumb,
.osx10.scroll:active input::-moz-range-thumb {
    opacity: 1;
    transition-delay: 0s
}